@font-face {
  font-family: BBHHegarty;
  src: url(../fonts/BBH_Hegarty/BBHHegarty-Regular.ttf);
}
@font-face {
  font-family: Urbanist;
  src: url(../fonts/Urbanist/static/Urbanist-Regular.ttf);
}
@font-face {
  font-family: Outfit;
  src: url(../fonts/Outfit/Outfit-VariableFont_wght.ttf);
}


$primary: #151320;
$secondary: #2F3192;
$accent: #2E3192;
$bg-dark: #e6daf5;
$surface-dark: #151320;
$text-light: #2E3192;
$text-muted: #e6daf5;
$color01: #51d0ed;
$color02: #2E3192;
$color03: #151320;
$color04:#2F3192;
$color05:#e6daf5;


//1a111a
//2a475b
//529494
//e3e4d3
//b23b4f


// #C63E96
// #2F3192
// #151320
// #51d0ed
// #e6daf5
$font-sans: BBHHegarty, system-ui, -apple-system, sans-serif;
$font1: Outfit, system-ui, -apple-system, sans-serif;
$font2: Urbanist, system-ui, -apple-system, sans-serif;
$radius-md: 8px;
$radius-lg: 20px;